@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* ---------------- DEFAULT THEME ---------------- */
#controlAddIn.theme-default #calendar {
  max-width: 1200px;
  /* margin: 40px; */
  margin: 70px auto; /* Top: 50px, Left/Right: auto จะจัดกลาง */
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
}

#controlAddIn.theme-default .fc-toolbar {
  margin-bottom: 20px;
}
#controlAddIn.theme-default .fc-toolbar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  /* color: #ffffff; */
}

#controlAddIn.theme-default .fc-button {
  background-color: #0078d4;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  color: white;
  font-weight: 500;
  transition: background-color 0.2s ease;
}
#controlAddIn.theme-default .fc-button:hover {
  background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/tenor_1.gif') !important;
  /* background-color: #9e5c00; */
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: contain;
}

#controlAddIn.theme-default .fc-daygrid-day-frame {
  padding: 6px;
  transition: background-color 0.2s;
}
#controlAddIn.theme-default .fc-daygrid-day:hover {
  /* background-color: #f0f8ff; */
  background-image: url("https://media.tenor.com/u3Qr_vUH0uUAAAAj/one-piece-pixel.gif") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* หรือ cover ตามที่ต้องการ */
}
/* Love Theme (Kirby) */
#controlAddIn.theme-love .fc-daygrid-day:hover {
  background-image: url("https://giffiles.alphacoders.com/426/4268.gif") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Halloween Theme (Ghost) */
#controlAddIn.theme-halloween .fc-daygrid-day:hover {
  background-image: url("https://img.itch.zone/aW1nLzE0MDU4NDM3LmdpZg==/original/z9m60H.gif") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* #controlAddIn.theme-default .fc-daygrid-day.has-event:hover {
  background-image: url("https://i.pinimg.com/originals/e9/38/d1/e938d18fc07a3ffd16b4864ef2f1308f.gif") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */


#controlAddIn.theme-default .fc-event {
  background-color: rgb(0, 28, 184);
  color: white;
  font-size: 0.85rem;
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* #controlAddIn.theme-default .fc-event.production-event {
  background-color: #00b6b8 !important;
  border-color: #8e44ad !important;
} */
#controlAddIn.theme-default .fc-event.routing {
  background-color: #00b6b8 !important;
  /* border-color: #6ceb75 !important; */
}
#controlAddIn.theme-default .fc-event.component-event {
  background-color: #8e44ad !important;
  /* border-color: #8e44ad !important; */
}
/* สร้าง keyframes สำหรับเงารุ้งแบบขยับ */
/* @keyframes rainbow-glow {
  0% {
    box-shadow:
      0 0 5px red,
      0 0 10px orange,
      0 0 15px yellow,
      0 0 20px green,
      0 0 25px blue,
      0 0 30px indigo,
      0 0 35px violet;
  }
  50% {
    box-shadow:
      0 0 10px violet,
      0 0 15px indigo,
      0 0 20px blue,
      0 0 25px green,
      0 0 30px yellow,
      0 0 35px orange,
      0 0 40px red;
  }
  100% {
    box-shadow:
      0 0 5px red,
      0 0 10px orange,
      0 0 15px yellow,
      0 0 20px green,
      0 0 25px blue,
      0 0 30px indigo,
      0 0 35px violet;
  }
}

/* ตอน hover ให้เงารุ้งขยับ */
/* #controlAddIn.theme-default .fc-event:hover {
  animation: rainbow-glow 3s linear infinite;
}  */

#controlAddIn.theme-default .fc-event-dragging {
  opacity: 0.7;
  border: 1px dashed #0078d4;
}

#controlAddIn.theme-default .fc-popover {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
#controlAddIn.theme-default .fc-popover .fc-popover-body {
  padding: 10px;
}
#controlAddIn.theme-default .fc-popover::-webkit-scrollbar {
  width: 8px;
}
#controlAddIn.theme-default .fc-popover::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#controlAddIn.theme-default .fc-popover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
#controlAddIn.theme-default .fc-popover::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ---------------- HALLOWEEN THEME ---------------- */
#controlAddIn.theme-halloween #calendar {
  background: #1b1b1b;
  color: #fff;
  max-width: 1200px;
  margin: 70px auto;
  box-shadow: 0 4px 15px rgb(123 41 41);
}
#controlAddIn.theme-halloween .fc-button {
  background-color: #ff6600;
}
#controlAddIn.theme-halloween .fc-event {
  background-color: #ff9900;
}
#controlAddIn.theme-halloween {
  /* height: 100%;
  width: 100%; */
  background-image: url("https://i.pinimg.com/originals/f6/72/ce/f672ce953801e8bb44132d5c938c4f85.gif") !important;
  /* ไม่ให้ภาพซ้ำ */
  /* background-repeat: no-repeat;      */
  background-position: center;      /* วางไว้ตรงกลาง */
  background-size: contain;         /* ปรับขนาดภาพให้พอดี */
}
#controlAddIn.theme-halloween .fc-toolbar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}
#controlAddIn.theme-halloween .fc::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -10px;
  width: 248px;
  height: 248px;
  background-image: url('https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUyemY4OG1yOXRucmI5YzkwbmtsdTNuaDczNnBqcHhmbHBlN2t0dWcwNSZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/l4FGrHErakgV8GRO0/source.gif');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  pointer-events: none;
  z-index: 20;
  /* transform: rotate(-10deg); */
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
}
#controlAddIn.theme-halloween .fc-event.routing {
  background-color: #b82800 !important;
  /* border-color: #6ceb75 !important; */
}
#controlAddIn.theme-halloween .fc-event.component-event {
  background-color: #adc31d !important;
}
/* ---------------- LOVE THEME ---------------- */
#controlAddIn.theme-love #calendar {
  background: #fff0f6;
  color: #e91e63;
  max-width: 1200px;
  margin: 70px auto;
  box-shadow: 0 4px 15px rgb(134, 218, 240);
}
#controlAddIn.theme-love .fc-button {
  background-color: #ff5ca2;
}
#controlAddIn.theme-love .fc-event {
  background-color: #ff87b2;
}
#controlAddIn.theme-love {
  background-color: #ffd8e5;
  background-image: url("https://www.icegif.com/wp-content/uploads/valentines-day-icegif-6.gif") !important;
  background-position: center;
  background-size: contain;
}
#controlAddIn.theme-love .fc::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -130px;
  width: 248px;
  height: 248px;
  background-image: url('https://media.tenor.com/B8qpaSp8xOsAAAAj/transparent-love.gif'); /* ตัวอย่างหัวใจ */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  pointer-events: none;
  z-index: 20;
  /* transform: rotate(-8deg); */
  filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
}
#controlAddIn.theme-love .fc-event.routing {
  background-color: #2ee2f6 !important;
  /* border-color: #6ceb75 !important; */
}
#controlAddIn.theme-love .fc-event.component-event {
  background-color: #f90f6d !important;
  /* border-color: #8e44ad !important; */
}
/* ------------------------------------------------------ */
/* calendar-themes.css */
/* Default theme */
.theme-default .fc-more {
  background-color: #0d6efd !important;
  color: white !important;
  border-radius: 6px;
  padding: 2px 6px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

/* Halloween theme */
.theme-halloween .fc-more {
  background-color: #ff7518 !important;
  color: black !important;
}

/* Love theme */
.theme-love .fc-more {
  background-color: #e83e8c !important;
  color: white !important;
}


/* Hover บนปุ่ม +X more */
.theme-default .fc-more:hover,
.theme-halloween .fc-more:hover,
.theme-love .fc-more:hover {
  /* background-color: #333;
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s ease; */
  background-image: url("https://i.pinimg.com/originals/e9/38/d1/e938d18fc07a3ffd16b4864ef2f1308f.gif") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Hover บน event ที่แสดงใน calendar */
.theme-default .fc-event:hover {
  /* background-color: #444 !important;
  color: #fff !important;
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.2s ease;
  z-index: 100; */
  /* background-image: url("https://i.pinimg.com/originals/e9/38/d1/e938d18fc07a3ffd16b4864ef2f1308f.gif") !important; */
  background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif")!important;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-position: left center; */
  background-position: center center;
  /* background-size: contain; */
  background-size: cover;
}
.theme-love .fc-event:hover {
  background-image: url("https://giffiles.alphacoders.com/208/208577.gif")!important;
  background-repeat: no-repeat;
  background-position: center center;
}

.theme-halloween .fc-event:hover {
  background-image: url("https://giffiles.alphacoders.com/215/215985.gif")!important;
  background-repeat: no-repeat;
  background-position: center center;
}
/* สีข้อความเมื่อ hover - ธีม Love */
.theme-love .fc-event.has-event .fc-event-title:hover {
  /* color: pink !important; */
  color: white !important;
}

/* สีข้อความเมื่อ hover - ธีม Halloween */
.theme-halloween .fc-event.has-event .fc-event-title:hover {
  color: white !important;
}

/* .calendar-decoration {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  opacity: 0.85;
  pointer-events: none;
  z-index: 99;
}
#controlAddIn::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  background-image: url('https://fiverr-res.cloudinary.com/images/f_auto,q_auto,t_main1/v1/attachments/delivery/asset/384fd7878d461d084a7d085843441f45-1747757942/done/create-adorable-anime-gif-for-you.gif');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  pointer-events: none;
  z-index: 99;
} */

